<div class="table-responsive">
<table class="table table-hover table-bordered table-condensed">
  <tr>
    <th>Timestamp</th>
    <th>Name</th>
    <th>Number</th>
    <th>Duration</th>
    <th>Node</th>
    <th>Result</th>
    <th>Link</th>
  </tr>
  {% for build in builds %}
  <tr>
    <td>{{build.timestamp|ts_to_time}}</td>
    <td>{{build.name}}</td>
    <td>{{build.number}}</td>
    <td>{{build.duration|duration_to_td}}</td>
    <td>{{build.builtOn}}</td>
    <td><span class="label label-{{build.result|result_to_css}}">{{build.result}}</span></td>
    <td>(<a href="{{build.url}}">link</a>)</td>
  </tr>
  {% endfor %}
</table>
</div>
